apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
spec:
  selector:
    matchLabels:
      app: auth-service
  replicas: 1
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: jaeger-agent
          image: jaegertracing/jaeger-agent:1.17.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5775
              name: zk-compact-trft
              protocol: UDP
            - containerPort: 5778
              name: config-rest
              protocol: TCP
            - containerPort: 6831
              name: jg-compact-trft
              protocol: UDP
            - containerPort: 6832
              name: jg-binary-trft
              protocol: UDP
            - containerPort: 14271
              name: admin-http
              protocol: TCP
          args:
            - --reporter.grpc.host-port=ingest.lightstep.com:443
            - --reporter.grpc.tls=true
            - --jaeger.tags=access_token=QngWCZWR0O8qwAXikRD+ZZOb56kmCjoo6aSfLGde9rh9ZlevqX2fwvGMilfLsfvyFzMc+m8Eul2wSGZuAwxnzAAcvJU9Rmtrxcqbrxbg
        - name: auth-service
          image: uk.icr.io/ix-liberty-rhg/auth-service
          env:
            - name: EXPIRATION
              valueFrom:
                configMapKeyRef:
                  name: spring-boot-auth
                  key: expiration
            - name: API_KEY
              valueFrom:
                configMapKeyRef:
                  name: spring-boot-auth
                  key: apiKey
            - name: SECRET_KEY
              valueFrom:
                configMapKeyRef:
                  name: spring-boot-auth
                  key: secretKey
            - name: BUCKET_NAME
              valueFrom:
                configMapKeyRef:
                  name: spring-boot-auth
                  key: bucketName
            - name: ENDPOINT_URL
              valueFrom:
                configMapKeyRef:
                  name: spring-boot-auth
                  key: endpointURL
            - name: IAM_ENPOINT
              valueFrom:
                configMapKeyRef:
                  name: spring-boot-auth
                  key: iamEndpoint
            - name: LOCATION
              valueFrom:
                configMapKeyRef:
                  name: spring-boot-auth
                  key: location
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
spec:
  selector:
    app: auth-service
  ports:
    - protocol: "TCP"
      port: 8080
      targetPort: 8080
  type: NodePort